.container{
    margin-top:10%;
    margin-left:25%;
    margin-right:25%;
    
}

.column{
    float:left;
    width:33.33%;
    height:500px;
    box-sizing: border-box;
    padding-left:5%;
    padding-top:5%;
    padding-bottom:1em;
}

.row{
    box-sizing:content-box;
    
}

.row::after{
    content:'';
    display:table;
    clear:both;
}

#sedan{
    background-color: hsl(31, 77%, 52%);
    border-radius: 15px 0px 0px 15px;
}

#suv{
    background-color: hsl(184, 100%, 22%);
}

#luxury{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0px 15px 15px 0px;
}

.column h1{
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-weight:600;
    font-size: 42px;
}

.column p{
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom:25%;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    line-height: 24px;
    font-size:16px;
}

button{
    margin-top: 15%;
    background-color:hsl(0, 0%, 95%);
    border-radius:35px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size:18px;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
    
}

#sedan button{
    color:hsl(31, 77%, 52%);
    border:2px solid hsl(31, 77%, 52%);
}

#sedan button:hover{
    cursor: pointer;
    background-color: hsl(31, 77%, 52%);
    color: hsla(0, 0%, 100%, 0.75);
    border: 2px solid hsla(0, 0%, 100%, 0.75);
}

#suv button{
    color:hsl(184, 100%, 22%);
    border:2px solid hsl(184, 100%, 22%);
}

#suv button:hover{
    cursor:pointer;
    background-color: hsl(184, 100%, 22%);
    color: hsla(0, 0%, 100%, 0.75);
    border: 2px solid hsla(0, 0%, 100%, 0.75);
}

#luxury button{
    color:hsl(179, 100%, 13%);
    border:2px solid hsl(179, 100%, 13%);
}

#luxury button:hover{
    cursor:pointer;
    background-color: hsl(179, 100%, 13%);
    color: hsla(0, 0%, 100%, 0.75);
    border: 2px solid hsla(0, 0%, 100%, 0.75);
}

.attribution { font-size: 11px; text-align: center; margin-top:2em;}

.attribution a { color: hsl(228, 45%, 44%); }