body{
    margin:0;
}

#container{
    margin: 25vh 12vw;
    border: black 1px solid;
    width: 75%;
}

#content{
    text-align: center;
    padding-top: 10vh;
}

#content span{
    font-weight: bold;
}

#content h3{
    margin-bottom: 1vh;
}

#content p{
    margin-top: 0;
}

.column{
    float: left;
    width:33.33%;
}

.row{
    text-align: center;
    padding: 2vh 0;
}

.row::after{
    content:"";
    display:table;
    clear:both;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }